@import "tailwindcss";
/* =========================================
   KILL GOOGLE TRANSLATE UI (Ninja Mode) 
========================================= */
.skiptranslate > iframe { display: none !important; }
body { top: 0 !important; position: static !important; }
#goog-gt-tt, .goog-te-balloon-frame { display: none !important; }
.goog-text-highlight { background-color: transparent !important; box-shadow: none !important; }
#google_translate_element { display: none !important; }

/* Custom Scrollbar Dropdown ke liye */
.lang-scrollbar::-webkit-scrollbar { width: 6px; }
.lang-scrollbar::-webkit-scrollbar-track { background: #f1f5f9; border-radius: 8px; }
.lang-scrollbar::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 8px; }
.lang-scrollbar::-webkit-scrollbar-thumb:hover { background: #94a3b8; }
